$white:#fff;
$blue: rgb(32, 87, 197);
$red: rgb(251, 34, 42);
$green:rgb(51,176,42);
$yellow: rgb(244, 190, 13);
$darkBlue: rgb(16, 21, 79);
$transparentWhite: rgba($color: #fff, $alpha: 0.7);
$lightGray: rgb(138, 144, 154);
$darkGray:rgb(44, 46, 50);